<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="$!{package.Mapper}.${table.mapperName}">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="$!{table.entityName}">
        #foreach($field in $table.fields)
            <result column="$!{field.name}" property="$!{field.propertyName}" />
        #end
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        #foreach($field in $table.fields)
        $!{field.name},
        #end
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="$!{table.entityFullName}">
        insert into $!{table.name} (
        #foreach($field in $table.fields)
        $!{field.name},
        #end
        ) values (
        #foreach($field in $table.fields)
            #{ $!{field.propertyName},jdbcType=$!{field.propertyType}},
        #end
        )
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="$!{table.entityFullName}">
        update $!{table.name}
        <set>
            #foreach($field in $table.fields)
                <if test="$!{field.property} != null">
                    $!{field.name} = #{ $!{field.propertyName},jdbcType=$!{field.propertyType}},
                </if>
            #end
        </set>
        where
            #foreach($field in $table.fields)
                #if(${field.keyFlag})
                    $!{field.name} = #{ $!{field.propertyName},jdbcType=$!{field.propertyType}}
                #end
            #end

    </update>

</mapper>